*{
    margin: 0;
    padding: 0;
}
#studentAllInfo{
    /* width: 1000px */
}
.studentInfoHeader{
    background-color: aqua;
    padding: 0px auto;
    text-align: center;
}
.studentData{
    background-color: rgb(234 213 255);
    line-height: 2rem;
    text-align: center;
}
.footer{
    text-align: center;
}
.student_info_button{
    padding: 20px 40px;
    background-color: rgb(188, 90, 90);
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
button.student_info_button:hover {
    scale: 1.1;
    background-color: burlywood;
    border-radius: 10px;
}
.text_color{
    color: #0400ff;
}